<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>Vue Lab</title>
   <link
     rel="stylesheet"    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
     crossorigin="anonymous"
   />
 </head>
 <body>

   <div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
Chose ther number of stops you want to display:
<input v-model.number="numberOfStops" type="number" name="numberOfStops">



<div id="app1">
  <ol>
    <li v-for="stop in stops" :key="stop.id">
        {{ stop }}
    </li>
  </ol>
</div>

<div v-for="item in filteredStops">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{item.name}}</h5>
        <p class="card-text">{{item.description}}
        </p>
      </div>
    </div>
</div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script
     src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
     integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
     crossorigin="anonymous"
   ></script>
   <script
     src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
     integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
     crossorigin="anonymous"
   ></script>

   <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<script>

var app1 = new Vue({
  el: '#app1',
  data: {
    stops: [],
    numStops: 10,
    longitude: 0,
    latitude: 0,
    distance: 999999
  },
  computed: {
  filteredStops: function(){
    return (this.stops.slice(0, this.numStops))
  }
}
})

//obtained from https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API
function geo_success(position) {
  this.latitude=position.coords.latitude;
  this.longitude=position.coords.longitude;
}

function geo_error() {
  alert("Sorry, no position available.");
}

var geo_options = {
  enableHighAccuracy: true,
  maximumAge        : 30000,
  timeout           : 27000
};

fetch('https://utils.pauliankline.com/stops.json')
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    console.log(JSON.stringify(myJson));
  });

</script>
 </body>
</html>
